<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Guesser</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">

</head>

<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <%= image_tag "logo.png" %>
    <section class="slide-up-boxes">
      <a href="https://twitter.com/share?text=I have a secret number! &url=curiousprocess.com" title="Click to send this page to Twitter!" target="_blank">
      <div class="under"><%= image_tag "twitter.png" %></div>
      <div class="over">&nbsp;</div>				
      </a>
      <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fcuriousprocess.com%2F&t=I+have+a+secret+number" target="_blank">
      <div class="under"><%= image_tag "facebook.png" %></div>
      <div class="over">&nbsp;</div>				
      </a>
      <a href="http://google.com">
      <div class="under"><%= image_tag "google.png" %></div>
      <div class="over">&nbsp;</div>				
      </a>
      <a href="mailto:name@email.com">
      <div class="under"><%= image_tag "email.png" %></div>
      <div class="over">&nbsp;</div>				
      </a>
    </section>
  </header>
  <div role="main">
  <%= yield %>
  </div>
  <footer>
    <p><a href="http://curiousprocess.com" target="_blank">A <strong>Curious Process</strong> Production!</a></p>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  
</body>
</html>